@{
    ViewBag.Title = "Home Page";
}

<div align="center">
    <img src="../../Images/ColegioPortada.jpg" alt="" />
</div>

@*<div class="jumbotron">
    <h1>Innova Schools CRM</h1>
    <p class="lead">Página de inicio y modelo para el CRM de Innova Schools, desarrollado por los alumnos de la UPC</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Aprender ASP.NET &raquo;</a></p>
</div>*@

@*<div class="row">
    <div class="col-md-4">
        <h2>Gestión del Personal</h2>
        <p>
            Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in,
            eum liber hendrerit an. Qui ut wisi vocibus suscipiantur,
            quo dicit ridens inciderint id.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Asp.Net &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Otros</h2>
        <p>Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">NuGet &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Otros</h2>
        <p>Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Hosting &raquo;</a></p>
    </div>
</div>*@